* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mapid {
    width: 100vw;
    height: 100vh;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.devPlan-popup {
    list-style: none;
}

.devPlan-popup span {
    font-weight: bold;
}