.landing-page {

    .container {
        width: 90%;
        margin: 0 auto;
    }
        &__header {
          font-size: 3em;
          margin-top: 50px;
        }
    
        &__cta-header {
          font-size: 2em;
          margin-top: 50px;
        }
    
        &__cta-subheader {
            font-size: 2em;
        }
    
        &__cta-link {
            font-size: 2em;
            padding: 1em 1.3em;
            width: 350px;
            margin: 65px 0 100px;
        }

        &__img {
          width: 30%;
          height: 100%;
          background-image: url('./assets/map-img-lg.png');
      } 
}

