  
.landing-page {

    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
        &__header {
           margin-top: 10rem;
           color: $font-primary-color;
        }
    
        &__cta-header {
           margin-top: 2rem;
           color: $font-secondary-color;
        }
    
        &__cta-subheader {
            color: $font-primary-color;
        }
    
        &__cta-link {
            display: block;
            text-decoration: none;
            border: 3px solid $font-primary-color;
            border-radius: 50px;
            color: $font-primary-color;
            font-weight: bold;
            font-size: 1rem;
            padding: 1rem 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4rem auto 2rem;
        }
    
        &__img {
            width: clamp(100px, 50%, 500px);
            display: block;
            margin: auto;
        } 
}

