.overlay__container {
    min-width: 150px;
    padding: 20px 30px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    transform: translateX(-50%);

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: rgb(255, 255, 255);
        top: calc(100% - 5px);
        right: calc(50% - 5px);
        z-index: 1;
        transform: rotate(45deg);
    }
}

.overlay__header {
    font-weight: bold;
    font-size: 14px;
}

.overlay__data {
    font-weight: normal;
    font-size: 12px;
}