.navigation {
    width: 400px;
    margin: 0px 0;
    position: relative;
    background: none;
    transform: translateX(0%);

    &__container {
        width: 90%;
        margin: 0 auto;
    }

    &__link-list {
        margin-right: auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        padding: 1em 0;
    }

    &__link-item {
        margin-top: 0;
    }

    &__link {
        text-decoration: none;
        color: $font-primary-color;
        font-size: 20px;

        &--active {
            border-bottom: solid 2px $font-secondary-color;
        }
    }
}

.header--map {
    width: 100%;
    box-shadow: 1px 1px 5px black;
    position: relative;
    z-index: 10;
}